body {
    background-color: rgb(0, 0, 0);
    color: beige;
    margin: 0px;
    /*border: 1px solid yellow;*/
    height: auto;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: inherit;
    text-align: center;
    font-size: 35px;
}

#logo {
    /*border: 1px solid royalblue;*/
    width: 20%;
}

#menu {
    /*border: 1px solid cyan;*/
    width: 80%;
    background-color: black;
}

main {
    border: 1px solid red;
}

section {
    margin-top: 150px;
    color: bisque;
}

#titulo {
    text-align: center;
    font-size: 30px;
    margin: -110px 10px 10px 10px;
    border: 1px solid red;
}

#texto {
    color: blanchedalmond;
    font-size: 25px;
    margin: 50px 50px 50px 50px;
    /*border: 1px solid red;*/
    text-align: justify;
}

.lo01 {
    width: 250px;
    height: 250px;
    border: 1px solid cyan;
    float: left;
    margin: auto;
    text-align: center;
}